<section class="header">
    <div class="h-box">
        <img class="logo" src="images/logo.png" alt="">
        <ul class="menu">
            <li> <a href="index.html">首页</a></li>
            <li>
                <a href="about.html">公司介绍</a>
            </li>
            <li>
                <a href="job.html">招聘岗位</a>
            </li>
            <li>
                <a href="apply.html">投递通道</a>
            </li>
            <li>
                <a href="process.html">招聘程序</a>
            </li>
            <li>
                <a target="_blank" href="http://www.tcrcb.com/">进入官网</a>
            </li>
        </ul>
    </div>
</section>
<img src="images/banner.jpg" alt="" class="banner">
